<div class="image-grid">
    <div class="image-grid-content">
        {% for img in section.images %}
        <div class="item">
            {% if env == 'production' %}
            <img src="images/{{ img | imageVersion(1800) }}" srcset="images/{{ img | imageVersion(400) }} 400w, images/{{ img | imageVersion(800) }} 800w, images/{{ img | imageVersion(1200) }} 1200w, images/{{ img | imageVersion(1800) }} 1800w"
                alt="{{ alt }}" class="img-fluid" />
            {% else %}
            <img src="../../images/{{ img }}" class="img-fluid" />
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>