/* Article Card Carousel */
.article-card-carousel {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .slick-track {
        display: flex;

        .slick-slide {
            display: flex;
            height: auto;
        }
    }

    .card {
        border-radius: 0;
        box-shadow: none;
        border-color: $grey;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        @media screen and (max-width: 500px) {
            margin-left: 15px;
            margin-right: 15px;
        }

        .card-title {
            a {
                color: $black;

                :hover {}
            }
        }

        .card-img-top {
            height: 12rem;
            background-size: cover;
            background-position: center;
            border-radius: 0;
        }

        .byline {
            font-weight: normal;
            font-size: 0.7rem;

            .byline-name {
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        p {
            font-size: 0.8rem;
        }
    }
}